.container
  .row
    .col-md-6
      %h2 Gavetas
      = messages
      = link_to 'Nuevo', new_drawer_path, class: 'btn btn-primary'
      %hr
      %table.table.table-condensed
        %thead
          %tr
            %th Nombre
            %th Ver
            %th Editar
            %th Eliminar
        %tbody
          = render @drawers
    .col-md-6